<md-content class = "home md-padding"
    layout = "row"
    layout-wrap = ""
    layout-align = "start"
    layout-xs = "column"
    ng-cloak>
  <div flex = "50" flex-xs = "100" layout = "column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class = "home-title1 md-display-2">Cisco’s Current Situation</span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content class = "home-section1" flex layout-padding>
        <md-list class="md-headline">
          <md-list-item class="md-2-line">
            <md-icon class = "material-icons">lens</md-icon>
            <p>
              Cisco performed an initial accounting policy assessment that
              identified 32 key accounting policy impact areas
            </p>
          </md-list-item>
          <md-list-item class="md-2-line">
            <md-icon class = "material-icons">lens</md-icon>
            <p>
              Cisco, along with E&Y, has completed evaluation of the 32 impact
              areas from a business policy perspective
            </p>
          </md-list-item>
          <md-list-item class="md-2-line">
            <md-icon class = "material-icons">lens</md-icon>
            <p>
              Cisco needs to now begin work to evaluate system impacts and make
              required system changes to implement ASC 606, that would allow Cisco
              to be compliant with the new Standard by July-2018
            </p>
          </md-list-item>
        </md-list>
      </md-card-content>

      <md-card-title>
        <md-card-title-text>
          <span class = "home-title2 md-display-2">Portal Objectives</span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content class = "home-section2" flex layout-padding>
        <md-list class="md-headline">
          <md-list-item class="md-2-line">
            <md-icon class = "material-icons">lens</md-icon>
            <p>
              Showcase Accenture’s proposed solution approach, assets and
              capabilities
            </p>
          </md-list-item>
          <md-list-item class="md-2-line">
            <md-icon class = "material-icons">lens</md-icon>
            <p>
              Exhibit Accenture’s insights into Cisco business
            </p>
          </md-list-item>
          <md-list-item class="md-2-line">
            <md-icon class = "material-icons">lens</md-icon>
            <p>
              <b>Placeholder for the mvp vision statement</b>
            </p>
          </md-list-item>
        </md-list>
      </md-card-content>

      <md-card-footer>
        <md-card-actions layout = "row" layout-align = "end center">
          <md-button class = "md-icon-button"
              aria-label = "Favorite"
              ng-click = "drilldown()">
            <md-icon class = "material-icons">get_app</md-icon>
          </md-button>
        </md-card-actions>
      </md-card-footer>
    </md-card>
  </div>
</md-content>
